/* Font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

body {
  font-family: 'Poppins', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 1000px;
}
.mensagem-inicial {
  text-align: center;
}
.mensagem-inicial img {
  width: 77px;
  height: 77px;
}
.mensagem-inicial p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000;
}